<html>

<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/signupstyle.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>cart</title>
</head>

<body>
    <div class="container">
        <!-- Nav -->
        <nav class="main-nav">
            <a href="{{url_for('index')}}">
                <img src="{{url_for('static',filename='images/logo.png')}}" alt="Easyshop" class="logo"></a>

            <ul class="right-menu">
                <li><a href="{{url_for('buyer_dashboard')}}">Home</a></li>
                <li><a href="{{url_for('buyer_dashboard')}}">Continue Shopping</a></li>
                <li>
                    <a href="{{url_for('buyer_dashboard')}}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>


        </nav>
        <div id="w">
            <header id="title">
                <h1>Your Cart</h1>
            </header>
            <div id="page">
                <table id="cart">
                    <thead>
                        <tr>
                            <th class="first">Photo</th>
                            <th class="second">Qty</th>
                            <th class="third">Product</th>
                            <th class="fourth">Sub Total</th>
                            <th class="fifth">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- shopping cart contents -->
                        <tr class="productitm">
                            <!-- http://www.inkydeals.com/deal/ginormous-bundle/ -->
                            <td><img src="https://i.imgur.com/8goC6r6.png" class="thumb"></td>
                            <td><input type="number" value="1" min="0" max="99" class="qtyinput"></td>
                            <td>Design Bundle Package</td>
                            <td>$79.00</td>
                            <td><span class="remove"><img src="https://i.imgur.com/h1ldGRr.png" alt="X"></span></td>
                        </tr>
                        <tr class="productitm">
                            <!-- http://www.amazon.com/Stuff-My-Cat-The-Book/dp/0811855384 -->
                            <td><img src="https://i.imgur.com/RkzoXzZ.png" class="thumb"></td>
                            <td><input type="number" value="1" min="0" max="99" class="qtyinput"></td>
                            <td>Stuff on my Cat: The Book</td>
                            <td>$8.95</td>
                            <td><span class="remove"><img src="https://i.imgur.com/h1ldGRr.png" alt="X"></span></td>
                        </tr>
                        <tr class="productitm">
                            <!-- http://www.amazon.com/SpongeBob-SquarePants-The-First-Episodes/dp/B002DYJTVW -->
                            <td><img src="https://i.imgur.com/vZ26Uwy.png" class="thumb"></td>
                            <td><input type="number" value="1" min="0" max="99" class="qtyinput"></td>
                            <td>SpongeBob's First 100 </td>
                            <td>$75.00</td>
                            <td><span class="remove"><img src="https://i.imgur.com/h1ldGRr.png" alt="X"></span></td>
                        </tr>
                        <tr class="productitm">
                            <!-- http://www.barnesandnoble.com/w/javascript-and-jquery-david-sawyer-mcfarland/1100405042 -->
                            <td><img src="https://i.imgur.com/tEdRnz4.png" class="thumb"></td>
                            <td><input type="number" value="1" min="0" max="99" class="qtyinput"></td>
                            <td>JavaScriptjQuery:The Missing </td>
                            <td>$27.50</td>
                            <td><span class="remove"><img src="https://i.imgur.com/h1ldGRr.png" alt="X"></span></td>
                        </tr>

                        <!-- tax + subtotal -->
                        <tr class="extracosts">
                            <td class="light">Shipping Tax</td>
                            <td colspan="2" class="light"></td>
                            <td>$35.00</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="totalprice">
                            <td class="light">Total:</td>
                            <td colspan="2">&nbsp;</td>
                            <td colspan="2"><span class="thick">$225.45</span></td>
                        </tr>


                        <!-- checkout btn -->
                        <div class="contain" style="width:100%">
                            <form action="" method="post">
                                <div class="form-inline" style="display: flex;justify-content:space-around;">
                                    <div class="form-input">
                                        <label for="full name"><b>Your Name</b></label>
                                        <input name="new_name" type="text" class="form-control" placeholder="Your name">
                                    </div>
                                    <div class="form-input">
                                        <label for="full name"><b>Mobile no.</b></label>
                                        <input name="new_mobno" type="tel" class="form-control" placeholder="your phone number">
                                    </div>
                                </div>
                                <div class="form-inline" style="display: flex;justify-content:space-around;">
                                    <div class="form-input">
                                        <label for="full name"><b>Full Address</b></label>
                                        <input name="full_address" type="text" class="form-control" placeholder="Please Enter full Adderess">
                                    </div>
                                    <div class="form-input">
                                        <label for="delivery"><b>Delivery Options</b></label>
                                        <select class="form-control" style="width:100%; margin-right:45px" name="" id="">
                <option value="">Pick-up</option>
                <option value="">Home Delivery</option>
                </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <tr class="checkoutrow">
                            <td colspan="5" class="checkout"><button id="submitbtn">Confirm Order!</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <section class="links">
            <div class="links-inner">
                <ul>
                    <li>
                        <h3>Useful Links</h3>
                    </li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Return Policy</a></li>
                </ul>
                <ul>
                    <li>
                        <h3>Company</h3>
                    </li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact US</a></li>
                    <li><a href="#">Locate Us</a></li>
                </ul>
                <ul>
                    <li>
                        <h3>Follow Us</h3>
                    </li>
                    <li>
                        <a href="#"><img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook"> Facebook</a>
                    </li>
                    <li>
                        <a href="#"><img src="https://i.ibb.co/b30HMhR/social-youtube.png" alt="Linkedin"> Linkedin</a>
                    </li>
                    <li>
                        <a href="#"><img style="height: 26px;" src="{{url_for('static',filename='images/youtube.png')}}" alt="Youtube"> Youtube</a>
                    </li>

                </ul>
                <ul>
                    <li>
                        <h3>Download App</h3>
                    </li>
                    <li><img class="footer-image" src="{{url_for('static',filename='images/playstore.png')}}" alt=""> </li>
                    <li style="margin-top: 5px;">
                        <img class="footer-image" src="{{url_for('static',filename='images/apptore.png')}}" " alt=" "> </li>
                </ul>
            </div>
        </section>
        <script src="{{url_for( 'static',filename='js/script.js' )}} "></script>
        <script src="https://kit.fontawesome.com/14b274511a.js " crossorigin="anonymous "></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>

</html>