<!DOCTYPE html>
<html lang="eng">

<head>
    <link rel="stylesheet" href="./css/signupstyle.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container">
        <!-- Nav -->
        <nav class="main-nav">
            <a href="index.php">
                <img src="images/logo.png" alt="Easyshop" class="logo"></a>



            <ul class="right-menu">
                <li>
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="What are you looking for?">
                        <button type="submit" class="searchButton">
                   <i class="fa fa-search"></i>
                </button>
                    </div>
                </li>
                <div class="containe">
                    <li>Shop By Category
                        <ul class="drop-menu menu-4" style="display:inline">
                            <li><a href="">CATEGORY 1</a></li>
                            <li><a href="">CATEGORY 2</a></li>
                            <li><a href="">CATEGORY 3</a></li>
                            <li><a href="">CATEGORY 4</a></li>
                            <li><a href="">CATEGORY 5</a></li>
                            <li><a href="">CATEGORY 6</a></li>
                        </ul>
                    </li>
                </div>
                <li>
                    <a href="">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li>
                    <a href="cart.php">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Showcase -->

        <!-- Home cards 1 -->

        <div class="shop-top">
            <img src="images/shop.jpg" alt="Shop-image" style="width:100%;height:290px; margin-bottom:5px">
            <h1 style="text-align:center;color: #b80019;">Annat Gift Shop</h1>
            <p style="text-align:center;color:grey; margin-bottom:60px">Bypass Road,Gaya,Bihar</p>
        </div>
        <section class="home-cards">
            <div>
                <img src="images/good_day.jpg" alt="">
                <p style="color:grey; margin-bottom:0px">Britainia</p>
                <h3>Good Day 100g</h3>
                <p>MRP: 10</p>
                <form method="get">
                    <label for="quantity">Qty: </label>
                    <input style="width:70px;display:inline" name="quantity" class="form-control " type="number" id="number" value="1" min="1">
                    <button name="add" class="btn btn-success bg-light text-dark " value="<?php echo $product_id ?>">ADD  <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                </form>
            </div>
            <div>
                <img src="images/good_day.jpg" alt="">
                <p style="color:grey; margin-bottom:0px">Britainia</p>
                <h3>Good Day 100g</h3>
                <p>MRP: 10</p>
                <form method="get">
                    <label for="quantity">Qty: </label>
                    <input style="width:70px;display:inline" name="quantity" class="form-control " type="number" id="number" value="1" min="1">
                    <button name="add" class="btn btn-success bg-light text-dark " value="<?php echo $product_id ?>">ADD  <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                </form>
            </div>
            <div>
                <img src="images/good_day.jpg" alt="">
                <p style="color:grey; margin-bottom:0px">Britainia</p>
                <h3>Good Day 100g</h3>
                <p>MRP: 10</p>
                <form method="get">
                    <label for="quantity">Qty: </label>
                    <input style="width:70px;display:inline" name="quantity" class="form-control " type="number" id="number" value="1" min="1">
                    <button name="add" class="btn btn-success bg-light text-dark " value="<?php echo $product_id ?>">ADD  <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                </form>
            </div>
            <div>
                <img src="images/good_day.jpg" alt="">
                <p style="color:grey; margin-bottom:0px">Britainia</p>
                <h3>Good Day 100g</h3>
                <p>MRP: 10</p>
                <form method="get">
                    <label for="quantity">Qty: </label>
                    <input style="width:70px;display:inline" name="quantity" class="form-control " type="number" id="number" value="1" min="1">
                    <button name="add" class="btn btn-success bg-light text-dark " value="<?php echo $product_id ?>">ADD  <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                </form>
            </div>
        </section>
        <section class="home-cards">
            <div>
                <img src="images/good_day.jpg" alt="">
                <p style="color:grey; margin-bottom:0px">Britainia</p>
                <h3>Good Day 100g</h3>
                <p>MRP: 10</p>
                <form method="get">
                    <label for="quantity">Qty: </label>
                    <input style="width:70px;display:inline" name="quantity" class="form-control " type="number" id="number" value="1" min="1">
                    <button name="add" class="btn btn-success bg-light text-dark " value="<?php echo $product_id ?>">ADD  <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                </form>
            </div>
            <div>
                <img src="images/good_day.jpg" alt="">
                <p style="color:grey; margin-bottom:0px">Britainia</p>
                <h3>Good Day 100g</h3>
                <p>MRP: 10</p>
                <form method="get">
                    <label for="quantity">Qty: </label>
                    <input style="width:70px;display:inline" name="quantity" class="form-control " type="number" id="number" value="1" min="1">
                    <button name="add" class="btn btn-success bg-light text-dark " value="<?php echo $product_id ?>">ADD  <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                </form>
            </div>
            <div>
                <img src="images/good_day.jpg" alt="">
                <p style="color:grey; margin-bottom:0px">Britainia</p>
                <h3>Good Day 100g</h3>
                <p>MRP: 10</p>
                <form method="get">
                    <label for="quantity">Qty: </label>
                    <input style="width:70px;display:inline" name="quantity" class="form-control " type="number" id="number" value="1" min="1">
                    <button name="add" class="btn btn-success bg-light text-dark " value="<?php echo $product_id ?>">ADD  <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                </form>
            </div>
            <div>
                <img src="images/good_day.jpg" alt="">
                <p style="color:grey; margin-bottom:0px">Britainia</p>
                <h3>Good Day 100g</h3>
                <p>MRP: 10</p>
                <form method="get">
                    <label for="quantity">Qty: </label>
                    <input style="width:70px;display:inline" name="quantity" class="form-control " type="number" id="number" value="1" min="1">
                    <button name="add" class="btn btn-success bg-light text-dark " value="<?php echo $product_id ?>">ADD  <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                </form>
            </div>
        </section>
        <section class="home-cards">
            <div>
                <img src="images/good_day.jpg" alt="">
                <p style="color:grey; margin-bottom:0px">Britainia</p>
                <h3>Good Day 100g</h3>
                <p>MRP: 10</p>
                <form method="get">
                    <label for="quantity">Qty: </label>
                    <input style="width:70px;display:inline" name="quantity" class="form-control " type="number" id="number" value="1" min="1">
                    <button name="add" class="btn btn-success bg-light text-dark " value="<?php echo $product_id ?>">ADD  <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                </form>
            </div>
            <div>
                <img src="images/good_day.jpg" alt="">
                <p style="color:grey; margin-bottom:0px">Britainia</p>
                <h3>Good Day 100g</h3>
                <p>MRP: 10</p>
                <form method="get">
                    <label for="quantity">Qty: </label>
                    <input style="width:70px;display:inline" name="quantity" class="form-control " type="number" id="number" value="1" min="1">
                    <button name="add" class="btn btn-success bg-light text-dark " value="<?php echo $product_id ?>">ADD  <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                </form>
            </div>
            <div>
                <img src="images/good_day.jpg" alt="">
                <p style="color:grey; margin-bottom:0px">Britainia</p>
                <h3>Good Day 100g</h3>
                <p>MRP: 10</p>
                <form method="get">
                    <label for="quantity">Qty: </label>
                    <input style="width:70px;display:inline" name="quantity" class="form-control " type="number" id="number" value="1" min="1">
                    <button name="add" class="btn btn-success bg-light text-dark " value="<?php echo $product_id ?>">ADD  <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                </form>
            </div>
            <div>
                <img src="images/good_day.jpg" alt="">
                <p style="color:grey; margin-bottom:0px">Britainia</p>
                <h3>Good Day 100g</h3>
                <p>MRP: 10</p>
                <form method="get">
                    <label for="quantity">Qty: </label>
                    <input style="width:70px;display:inline" name="quantity" class="form-control " type="number" id="number" value="1" min="1">
                    <button name="add" class="btn btn-success bg-light text-dark " value="<?php echo $product_id ?>">ADD  <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                </form>
            </div>
        </section>

        <section class="links">
            <div class="links-inner">
                <ul>
                    <li>
                        <h3>Useful Links</h3>
                    </li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Return Policy</a></li>
                </ul>
                <ul>
                    <li>
                        <h3>Company</h3>
                    </li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact US</a></li>
                    <li><a href="#">Locate Us</a></li>
                </ul>
                <ul>
                    <li>
                        <h3>Follow Us</h3>
                    </li>
                    <li>
                        <a href="#"><img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook"> Facebook</a>
                    </li>
                    <li>
                        <a href="#"><img src="https://i.ibb.co/b30HMhR/social-youtube.png" alt="Linkedin"> Linkedin</a>
                    </li>
                    <li>
                        <a href="#"><img style="height: 26px;" src="images/youtube.png" alt="Youtube"> Youtube</a>
                    </li>

                </ul>
                <ul>
                    <li>
                        <h3>Download App</h3>
                    </li>
                    <li><img class="footer-image" src="images/playstore.png" alt=""> </li>
                    <li style="margin-top: 5px;"><img class="footer-image" src="images/appstore.png" alt=""> </li>
                </ul>
            </div>
        </section>
        <script src="./js/script.js"></script>
        <script src="https://kit.fontawesome.com/14b274511a.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>