<!DOCTYPE html>
<html>

<head>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
        var messages = {
            {
                messages | safe
            }
        };
        for (var i = 0; i < messages.length; i++) {
            alert(messages[i]);
        }
    </script>
    {% endif %} {% endwith %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/signupstyle.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Register Owner</title>
</head>

<body>

    <div class="signup-page">
        <form class="signup" method="post" autocomplete="off" enctype="multipart/form-data">
            <h1>Create account</h1>
            <h2>Please let us know about Shop Owner</h2>
            <div class="signup__field">
                <input class="signup__input" type="text" name="fname" id="fname" required />
                <label class="signup__label" for="fname">First Name</label>
            </div>
            <div class="signup__field">
                <input class="signup__input" type="text" name="lname" id="lname" required />
                <label class="signup__label" for="lname">Last Name</label>
            </div>
            <div class="signup__field">
                <input class="signup__input" type="email" name="email" id="email" required />
                <label class="signup__label" for="email">Email</label>
            </div>

            <div class="signup__field">
                <input class="signup__input"  type="password" name="pass" id="password" required />
                <label class="signup__label" for="password">Password</label>
            </div>
            <div class="signup__field">
                <input class="signup__input" type="password" name="passcheck" id="confirm passsword" required />
                <label class="signup__label" for="confirm passsword">Confirm Password</Address></label>
            </div>
            <div class="signup__field">
                <input class="signup__input" pattern=".{10,10}"  required title="10 characters PhoneNo required" name="ph_no" id="mobileno"  />
                <label class="signup__label" for="mobileno">Mobile No</label>
            </div>
            <div class="signup__field">
                <input class="signup__input" type="text" name="address" id="address" required />
                <label class="signup__label" for="address">Address</Address></label>
            </div>



            <input class="submit_button" type="submit" name="signup_shop1" id="btn-login" value="Next">
        </form>
    </div>
</body>

</html>