<!DOCTYPE html>
<html>

<head>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
        var messages = {
            {
                messages | safe
            }
        };
        for (var i = 0; i < messages.length; i++) {
            alert(messages[i]);
        }
    </script>
    {% endif %} {% endwith %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/signupstyle.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Register Shop</title>

</head>

<body>

    <div class="signup-page">
        <form class="signup" action="" method="post" autocomplete="off" enctype="multipart/form-data">
            <h1>Create account</h1>
            <h2>Please let us know about your Shop</h2>
            <div class="signup__field">
                <input class="signup__input" type="text" name="shopname" id="shopname" required />
                <label class="signup__label" for="shopname">Shop Name</label>
            </div>
            <div class="signup__field">
                <h5>Shop type</h5>
                <select class="browser-default custom-select custom-select-lg mb-3">
                            <option selected>Select from here</option>
                            <option value="1">Clothing</option>
                            <option value="2">Kirana</option>
                            <option value="3">Electronics</option>
                          </select>
                <script>
                    // Material Select Initialization
                    $(document).ready(function() {
                        $('.mdb-select').materialSelect();
                    });
                </script>
            </div>
            <div class="signup__field">
                <input class="signup__input" type="email" name="shop email" id="email" required />
                <label class="signup__label" for="shop email">Shop Email</label>
            </div>
            <div class="signup__field">
                <input class="signup__input" type="text" name="address" id="address" required />
                <label class="signup__label" for="address">Shop Address</label>
            </div>

            <input class="submit_button" type="submit" name="signup" id="btn-login" value="Register">
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>